<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/dashboard.css" rel="stylesheet">
  <script src="/scripts/lock.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand">
        Bienvenido <%= user.display_name %>
        <small class="text-muted">(<%= user.username %>)</small>
      </span>
      <a href="/logout" class="btn btn-outline-light">Cerrar Sesión</a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-1 sidebar">
        <a href="/alta" id="link-alta" class="active">Alta</a>
        <% if(user.full_access){ %>
          <a href="/baja" id="link-baja" class="active">Baja</a>
        <% } %>
      </div>
      <div class="col-11 mt-4">
        <div class="ratio ratio-16x9">
          <iframe id="content-iframe" 
                  src="<%= iframe %>" 
                  allowfullscreen
                  sandbox="allow-same-origin allow-scripts allow-forms">
          </iframe>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
